body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header img {
    padding-left: 10px;
    height: 50px;
}

header {
    display: flex;
    z-index: 1;
    height: 69px;
    position: fixed;
    border-bottom: 1px solid seashell;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    align-items: center;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav {
    text-align: right;
    flex-grow: 1;
    padding-right: 10px;
}

nav span {
    text-decoration: underline;
}

nav a {
    color: seashell;
    padding: 0px 10px;
    text-align: center;
}

#mission {
    width: 95%;
    height: 700px;
    background-image: url(../images/mission-background.jpg);
}

.content h4 h2 {
    width: 1200px;
    align-items: center;
}